In [1]:
import os
from scipy.io import arff
path_to_directory= r"D:\mtl782_project\\"
files = [arff for arff in os.listdir(path_to_directory) if arff.endswith(".arff")]
print(files)

['1year.arff', '2year.arff', '3year.arff', '4year.arff', '5year.arff']

In [2]:
def toCsv(content): 
    data = False
    header = ""
    newContent = []
    for line in content:
        if not data:
            if "@attribute" in line:
                attri = line.split()
                columnName = attri[attri.index("@attribute")+1]
                header = header + columnName + ","
            elif "@data" in line:
                data = True
                header = header[:-1]
                header += '\n'
                newContent.append(header)
        else:
            newContent.append(line)
    return newContent

# Main loop for reading and writing files
for zzzz,file in enumerate(files):
    with open(path_to_directory+file , "r") as inFile:
        content = inFile.readlines()
        name,ext = os.path.splitext(inFile.name)
        new = toCsv(content)
        with open(name+".csv", "w") as outFile:
            outFile.writelines(new)

In [13]:
data = arff.loadarff(r"D:\mtl782_project\\1year.arff")
df = pd.DataFrame(data[0])

### Data Preprocessing and Finding more significant features

In [3]:
import pandas as pd

In [19]:
df1 = arff.loadarff(r"D:\mtl782_project\\1year.arff")
data1 = pd.DataFrame(df1[0])
df2 = arff.loadarff(r"D:\mtl782_project\\2year.arff")
data2 = pd.DataFrame(df2[0])
df3 = arff.loadarff(r"D:\mtl782_project\\3year.arff")
data3 = pd.DataFrame(df3[0])
df4 = arff.loadarff(r"D:\mtl782_project\\4year.arff")
data4 = pd.DataFrame(df4[0])
df5 = arff.loadarff(r"D:\mtl782_project\\5year.arff")
data5 = pd.DataFrame(df5[0])

In [20]:
data_1.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.416,5.1372,82.658,4.4158,7.4277,0
1,0.20912,0.49988,0.47225,1.9447,14.786,0,0.25834,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0,4.1486,3.2732,107.350,3.4,60.987,0
2,0.24866,0.69592,0.26713,1.5548,-1.1523,0,0.30906,0.43695,1.309,0.30408,...,0.241140,0.81774,0.76599,0.69484,4.9909,3.951,134.270,2.7185,5.2078,0
3,0.081483,0.30734,0.45879,2.4928,51.952,0.14988,0.092704,1.8661,1.0571,0.57353,...,0.054015,0.14207,0.94598,0,4.5746,3.6147,86.435,4.2228,5.5497,0
4,0.18732,0.61323,0.2296,1.4063,-7.3128,0.18732,0.18732,0.6307,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.12444,6.3985,4.3158,127.210,2.8692,7.898,0

In [21]:
data_1.describe()

,Attr13,Attr19,Attr20,Attr23,Attr30,Attr31,Attr39,Attr42,Attr43,Attr44,Attr49,Attr55,Attr56,Attr58,Attr62,class
count,7027.000000,7027.000000,7.027000e+03,7027.000000,7027.000000,7027.000000,7027.000000,7027.000000,7.027000e+03,7.027000e+03,7027.000000,7.027000e+03,7.027000e+03,7.027000e+03,7.027000e+03,7027.000000
mean,2.093345,0.462392,1.162128e+03,0.423610,23.568949,0.473717,0.269342,0.263638,4.588504e+03,3.426404e+03,-1.367363,8.855693e+03,-1.577367e+02,1.587409e+02,4.763202e+03,0.038566
std,159.699448,30.646874,9.315822e+04,29.742101,1826.847970,30.647711,27.064231,27.071123,3.627309e+05,2.696211e+05,107.717867,7.247527e+04,1.322125e+04,1.322124e+04,3.107835e+05,0.192571
min,-607.420000,-622.060000,0.000000e+00,-634.590000,-149.070000,-622.060000,-701.630000,-701.630000,0.000000e+00,0.000000e+00,-9001.000000,-8.004700e+05,-1.108300e+06,-4.194000e-03,0.000000e+00,0.000000
25%,0.038073,0.014812,1.708300e+01,0.011253,0.094681,0.019233,0.012786,0.011541,6.525600e+01,3.387300e+01,-0.009992,9.712000e+01,2.031450e-02,8.647650e-01,4.322250e+01,0.000000
50%,0.080830,0.049966,3.561200e+01,0.042097,0.207130,0.056637,0.046948,0.047783,9.461200e+01,5.180000e+01,0.022759,1.604800e+03,6.338200e-02,9.388100e-01,6.850900e+01,0.000000
75%,0.144955,0.104500,6.070100e+01,0.088313,0.365635,0.114970,0.103375,0.102165,1.304150e+02,7.550250e+01,0.075465,5.955900e+03,1.376950e-01,9.820150e-01,1.063350e+02,0.000000
max,13315.000000,2156.800000,7.809200e+06,2156.800000,152860.000000,2156.800000,2156.500000,2156.800000,3.039300e+07,2.258400e+07,31.639000,4.398400e+06,1.000000e+00,1.108300e+06,2.501600e+07,1.000000

In [22]:
data_1.shape

(7027, 65)

## Replacing NA with Mean

In [35]:
## Error is coming, need to solve this
'''
for i in range(64):
    name = "Attr" + str(i+1)   
    print(i)
    print(data_1[name].mean())
    data_1[name] = data_1[name].fillna(value= data_1[name].mean(), inplace = "True")
    data_2[name] = data_2[name].fillna(value= data_2[name].mean(), inplace = "True")
    data_3[name] = data_3[name].fillna(value= data_3[name].mean(), inplace = "True")
    data_4[name] = data_4[name].fillna(value= data_4[name].mean(), inplace = "True")
    data_5[name] = data_5[name].fillna(value= data_5[name].mean(), inplace = "True")
'''

'\nfor i in range(64):\n    name = "Attr" + str(i+1)   \n    print(i)\n    print(data_1[name].mean())\n    data_1[name] = data_1[name].fillna(value= data_1[name].mean(), inplace = "True")\n    data_2[name] = data_2[name].fillna(value= data_2[name].mean(), inplace = "True")\n    data_3[name] = data_3[name].fillna(value= data_3[name].mean(), inplace = "True")\n    data_4[name] = data_4[name].fillna(value= data_4[name].mean(), inplace = "True")\n    data_5[name] = data_5[name].fillna(value= data_5[name].mean(), inplace = "True")\n'

### For now, temporarily NA have been dropped

In [36]:
data1.dropna(inplace=True)
data2.dropna(inplace = True)
data3.dropna(inplace=True)
data4.dropna(inplace = True)
data5.dropna(inplace=True)

In [37]:
X1,y1 = data1.iloc[:,:-1], data1.iloc[:,-1]
X2,y2 = data2.iloc[:,:-1], data2.iloc[:,-1]
X3,y3 = data3.iloc[:,:-1], data3.iloc[:,-1]
X4,y4 = data4.iloc[:,:-1], data4.iloc[:,-1]
X5,y5 = data5.iloc[:,:-1], data5.iloc[:,-1]

In [38]:
import numpy as np
np.where(np.asanyarray(np.isnan(X1)))

(array([], dtype=int64), array([], dtype=int64))

In [32]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [41]:
test = SelectKBest(score_func=f_classif, k=4)
fit = test.fit(X1, y1)
# summarize scores
print(fit.scores_)
print(len(fit.scores_))
sort_index = np.argsort(-fit.scores_) 
features = fit.transform(X1)
# summarize selected features
print(features[0:5,:])

[6.07100884e+00 1.22040415e+01 4.07979175e+00 3.40322908e+00
 5.20402647e-03 4.25251990e-01 4.85726837e+00 2.77289126e+00
 9.29725189e+00 8.53772783e+00 1.87210649e+00 2.85680778e+00
 6.04080455e+00 4.85726837e+00 3.08407288e-01 4.77091942e+00
 3.09578322e+00 4.85726837e+00 3.60691207e+00 7.93347942e-02
 3.12623280e-02 2.25513056e+00 4.77421740e+00 4.99380042e+00
 8.41326704e+00 5.01535056e+00 6.35743472e-02 1.04577774e-01
 5.89995238e+00 3.11533494e+00 2.33171163e+00 3.00814649e-08
 7.77352666e-01 1.00543357e+01 3.90052676e+00 5.93651964e+00
 2.22160750e-02 1.61321325e+01 4.82948197e+00 2.36920393e+00
 1.09610478e-02 1.54997845e+00 2.95501369e-01 2.74011541e-01
 7.82611952e-02 5.28451330e+00 1.81301627e-02 3.22657551e-01
 1.02302791e-01 3.43856886e+00 9.73590827e+00 4.90334296e-04
 1.50293401e-01 6.17269884e-02 1.80684454e-01 1.32614122e+00
 1.02940101e+00 5.71374595e-01 8.36254079e-03 7.36529610e-02
 9.81411835e-03 5.10152220e-01 1.16814766e+00 9.42587122e-01]
64
[[ 0.37951   0.56393   0.50591   0.37854 ]
 [ 0.63202   1.7697    0.49344   0.42554 ]
 [ 0.34994   0.87075   0.69793   0.30207 ]
 [ 0.19885   0.27021   0.95834   0.041664]
 [ 0.21131  -0.23957   0.93115   0.068848]]

In [42]:
print(sort_index)

[37  1 33 50  8  9 24  0 12 35 28 45 25 23  6 13 17 38 22 15  2 34 18 49
  3 29 16 11  7 39 30 21 10 41 55 62 56 63 32 57 61  5 47 14 42 43 54 52
 27 48 19 44 59 26 53 20 36 46 40 60 58  4 51 31]