In [1]:
data_path = '../data/'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.io.arff import loadarff

%matplotlib inline

In [4]:
arff1 = loadarff(data_path+'1year.arff')
df1 = pd.DataFrame(arff1[0])

In [7]:
df1['class']= df1['class'].astype('int')
df1.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0

In [14]:
df1['class'].value_counts()

0    6756
1     271
Name: class, dtype: int64

In [20]:
df1_pos = df1[df1['class']==1]
df1_neg = df1[df1['class']==0]

In [21]:

percent_missing = df1_pos.isnull().sum()
percent_missing_p = percent_missing / df1_pos.shape[0] * 100.00
missing_value_df = pd.DataFrame({'column_name': df1_pos.columns,
                                 'num_missing': percent_missing,
                                 'percent_missing': percent_missing_p})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

       column_name  num_missing  percent_missing
Attr27      Attr27          120        44.280443
Attr21      Attr21          109        40.221402
Attr37      Attr37          105        38.745387
Attr11      Attr11           36        13.284133
Attr60      Attr60           14         5.166052
...            ...          ...              ...
Attr29      Attr29            0         0.000000
Attr30      Attr30            0         0.000000
Attr31      Attr31            0         0.000000
Attr2        Attr2            0         0.000000
class        class            0         0.000000

[65 rows x 3 columns]

In [22]:

percent_missing = df1_neg.isnull().sum()
percent_missing_p = percent_missing / df1_neg.shape[0] * 100.00
missing_value_df = pd.DataFrame({'column_name': df1_neg.columns,
                                 'num_missing': percent_missing,
                                 'percent_missing': percent_missing_p})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
missing_value_df

       column_name  num_missing  percent_missing
Attr37      Attr37         2635        39.002368
Attr21      Attr21         1513        22.394908
Attr27      Attr27          191         2.827117
Attr24      Attr24          124         1.835406
Attr60      Attr60          121         1.791001
...            ...          ...              ...
Attr13      Attr13            0         0.000000
Attr44      Attr44            0         0.000000
Attr31      Attr31            0         0.000000
Attr49      Attr49            0         0.000000
class        class            0         0.000000

[65 rows x 3 columns]